[report]

omit = 
    */python?.?/*
    */__pycache/*
    */.pytest_cache/*
    */env/*
    */__init__.py/*
    tests/*
    */models.py
    */venv/*
    */models.py
    */api/__init__.py
    */api/db/__init__.py
    */api/models/__init__.py
    */api/views/__init__.py